{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Contacter {{ shop.name }}</h1>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">

            {% include 'flash.html.twig' %}

            <a href="{{ path('shop_index')}}" class="btn btn-secondary btn-icon"><span class="icon fas fa-arrow-left"></span></a>

            <!-- Wrapper container -->

                <form id="contactForm" action="{{ path("shop_contactForm", {id: shop.id}) }}" method="post">
                    <!-- Email address input -->
                    <div class="mb-3">
                        <label class="form-label" for="emailAddress">Adresse email</label>
                        <input class="form-control" name="email" id="emailAddress" type="email" placeholder="Adresse email" value="{{ app.user.email|default('') }}"/>
                    </div>

                    <!-- Message input -->
                    <div class="mb-3">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
                    </div>

                    <!-- Form submit button -->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" type="submit">Envoyer</button>
                    </div>

                </form>

            </div>

        </div>
    </section>
{% endblock %}












